.column{
    float: left;
    width: 30px;
}

.row::after {
    content: "";
    display: flex;
    clear: both;
}

.column {
    float: left;
}

.left, .right {
    width: 25px;
}

.middle {
    width: 50px;
}

@media screen and (max-width:600px) {
    .column {
        width: 100px;
    }
}