.grid conteiner {
    height: 300px;
    border:1 px solid red;
    display:grid;
    grid-template-columns: 100px 100px;
    gap:10px;

}

.grid-template-ares:
"header header";



.grid-item-1{
    grid-area:header;
    

}